<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="rabbitMqSettings" type="System.Configuration.AppSettingsSection, System.Configuration" />
  </configSections>

  <appSettings>
   	<add key="ot.discovery.mode" value="OT" />
    <add key="ot.discovery.servers" value="http://discovery-ci-uswest2.otenv.com" />
    <!-- Optional diagnostic switch: turns on log4net tracing to console/DebugView to reveal log4net configuration problems. -->
    <!--
      <add key="log4net.Internal.Debug" value="true" />
    -->
  </appSettings>

  <connectionStrings>
  	<add name="postgres" connectionString="Server=general-postgres-qa.cprpfre0om5q.us-west-2.rds.amazonaws.com;Port=5432;Database=forgetmenot;User Id=forgetmenot_user;Password=forgetmenot_user;"/>
  	<add name="deadletterqueue" connectionString="rabbit://blah/blah" />
  </connectionStrings>

  <rabbitMqSettings>
    <!-- This is temporary: points to CI instance of rabbitMq -->
  	<add key="hostName" value="10.21.1.65" />
  </rabbitMqSettings>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	    <layout type="log4net.Layout.PatternLayout">
	        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
	    </layout>
	</appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- For a web app, set file value="LogFiles\log.txt" to enable IIS to serve logs to remote browser -->
      <file value="..\..\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="250KB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <staticLogFileName value="true" />
      <immediateFlush value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="[%date{yyyy-MM-dd HH:mm:ss.fff} %-5level] %logger: %message%newline" />
      </layout>
    </appender>
  </log4net>

</configuration>
